@font-face {
    font-family: LemonMilk;
    src        : url(/Font/LemonMilk.otf) format('opentype')
}

@font-face {
    font-family: LemonMilklight;
    src        : url(/Font/LemonMilklight.otf) format('opentype')
}

body {
    font-family     : LemonMilk;
    background-color: #000;
    color           : #fff
}

header {
    margin-bottom: 45px
}

#Signature {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px
}

#Slogan {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}


h1 {
    font-family   : LemonMilklight;
    font-size     : 400%;
    letter-spacing: 20px;
    text-align    : center;
    margin-bottom : 50px
}

nav {
    
}