@font-face {
    font-family: LemonMilk;
    src        : url(/Font/LemonMilk.otf) format('opentype')
}

@font-face {
    font-family: LemonMilklight;
    src        : url(/Font/LemonMilklight.otf) format('opentype')
}

body {
    font-family     : LemonMilk;
    background-color: #000;
    color           : #fff
}

#Signature {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px
}

h1 {
    font-family   : LemonMilklight;
    font-size     : 400%;
    letter-spacing: 20px;
    text-align    : center;
    padding-bottom : 50px
}

#Slogan {
    text-align: center;
    padding-left: 0%;
    padding-right: 700px;
    padding-bottom: 50px
}

#Ornament {
    font: normal;
    text-align: center;
    font-size: 400%;
}

nav {
padding-bottom: 50px    
}

main {
    background-color: #333
}
