@font-face {
    font-family: LemonMilk;
    src        : url(LemonMilk.otf) format('opentype')
}

@font-face {
    font-family: LemonMilklight;
    src        : url(LemonMilklight.otf) format('opentype')
}



 /*ALLGEMEINES*/

 body {
    font-family     : LemonMilk;
    background-color: #000;
    color           : #fff;
}

header {
    z-index : 100;
    position: relative;
}

/*BURGER-NAVIGATION*/

header div {
    z-index         : 50;
    position        : fixed;
    top             : -8px;
    left            : -3px;
    background-color: #000;
    width           : 19%;
    height          : 160px;
}

nav {
    position: fixed;
    z-index : 111;
    width   : 100%;
}

ul {
    position       : fixed;
    display        : none;
    width          : 300px;
    top            : 121px;
    left           : -15px;
    text-decoration: none;
    list-style     : none;
    font-size      : 200%;
}

#Burger {
    position: fixed;
    left    : 20px;
    top     : -23px;
    width   : 110px;
    height  : auto;
    padding : 10px;
}

#Burger:hover+ul {
    display: block;
}

ul:hover {
    display: block;
}

li {
    padding         : 10px;
    padding-left    : 30px;
    display         : block;
    background-color: #ffb33a;
    color           : #fff;
}

li:hover {
    display         : block;
    background-color: #c47a03;
}

a {
    text-decoration: none;
    color          : #fff;
}

/*UBERSCHRIFT UND ÄHNLICHES*/

#Signature {
    width         : 150px;
    height        : auto;
    display       : block;
    margin-left   : auto;
    margin-right  : auto;
    padding-top   : 150px;
    padding-bottom: 90px
}

#UEBERschrift {
    position      : relative;
    top           : 48px;
    font-family   : LemonMilklight;
    font-size     : 200%;
    letter-spacing: 17px;
    text-align    : center;

}

h1 {
    font-family   : LemonMilklight;
    font-size     : 500%;
    letter-spacing: 20px;
    text-align    : center;
    padding-bottom: 50px
}

#Slogan {
    text-align    : center;
    padding-left  : 37%;
    padding-right : 37%;
    padding-bottom: 50px
}

#Ornament {
    text-align    : center;
    font-size     : 250%;
    padding-bottom: 90px;
}

/*ASIDES/UNTENDRUNTERS*/

aside {
    color: #666;
}

aside * {
    padding: 15px;
}

#links {
    position: relative;
    display : inline-block;
    float   : left;
    width   : 19%;
}

#rechts {
    text-align: right;
    position  : relative;
    display   : inline-block;
    float     : right;
    width     : 19%;
}


/*HAUPTSEITE*/

main {
    display         : inline-block;
    float           : unset;
    width           : 60%;
    background-color: #333;
    margin-bottom   : 30px;
}


/*
main div{
    background-color: #ffb33a;
}*/


main h2 {
    text-align: center;
}

section {
    position        : relative;
    display         : inline-block;
    float           : left;
    width           : 28%;
    margin          : 2%;
    background-color: #666
}

/*Zeug um dinger immer quadratisch zu haben*/

section::before {
    content    : "";
    display    : block;
    padding-top: 100%;
}

section:nth-child(3n +1) {
    clear      : left;
    margin-left: 4%;
}

section:last-child {
    margin-bottom: 4%;
}

/*Section "Befüllung"*/

section img {
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;
    width   : 90%;
    height  : 90%;
    padding : 5%;
}

article {
    position        : absolute;
    top             : 50%;
    bottom          : 0;
    left            : 0;
    right           : 0;
    display         : none;
    width           : 100%;
    height          : 50%;
    background-color: #00000040
}

section:hover article {
    display: block;
}

article div {
    margin: 20px;
}

/*FOOTER*/

footer {
    margin          : 30px;
    padding         : 40px;
    background-color: #ffb33a;
    text-align      : center
}

footer a {
    color: #03f
}

/*SCHRIFTGÖSSEN*/

h2 {
    font-family: LemonMilklight;
    font-size  : 200%;
}

main h2{
    font-size: 300%;
}

h3{
    font-size: 100%;
}

p {
    font-size: 100%;
}

main p{
    position: relative;
    top: -1em;
    font-size: 80%;
}

footer p{
    font-size: 150%;
}


@media (min-width: 1000px) {

    /*ALLGEMEINES*/

    body {
        font-family     : LemonMilk;
        background-color: #000;
        color           : #fff;
    }

    header {
        z-index : 100;
        position: relative;
    }

    /*BURGER-NAVIGATION*/

    header div {
        z-index         : 50;
        position        : fixed;
        top             : -8px;
        left            : -3px;
        background-color: #000;
        width           : 19%;
        height          : 160px;
    }

    nav {
        position: fixed;
        z-index : 111;
        width   : 100%;
    }

    ul {
        position       : fixed;
        display        : none;
        width          : 300px;
        top            : 121px;
        left           : -15px;
        text-decoration: none;
        list-style     : none;
        font-size      : 200%;
    }

    #Burger {
        position: fixed;
        left    : 20px;
        top     : -23px;
        width   : 110px;
        height  : auto;
        padding : 10px;
    }

    #Burger:hover+ul {
        display: block;
    }

    ul:hover {
        display: block;
    }

    li {
        padding         : 10px;
        padding-left    : 30px;
        display         : block;
        background-color: #ffb33a;
        color           : #fff;
    }

    li:hover {
        display         : block;
        background-color: #c47a03;
    }

    a {
        text-decoration: none;
        color          : #fff;
    }

    /*UBERSCHRIFT UND ÄHNLICHES*/

    #Signature {
        width         : 150px;
        height        : auto;
        display       : block;
        margin-left   : auto;
        margin-right  : auto;
        padding-top   : 150px;
        padding-bottom: 90px
    }

    #UEBERschrift {
        position      : relative;
        top           : 48px;
        font-family   : LemonMilklight;
        font-size     : 200%;
        letter-spacing: 17px;
        text-align    : center;

    }

    h1 {
        font-family   : LemonMilklight;
        font-size     : 500%;
        letter-spacing: 20px;
        text-align    : center;
        padding-bottom: 50px
    }

    #Slogan {
        text-align    : center;
        padding-left  : 37%;
        padding-right : 37%;
        padding-bottom: 50px
    }

    #Ornament {
        text-align    : center;
        font-size     : 250%;
        padding-bottom: 90px;
    }

    /*ASIDES/UNTENDRUNTERS*/

    aside {
        color: #666;
    }

    aside * {
        padding: 15px;
    }

    #links {
        position: relative;
        display : inline-block;
        float   : left;
        width   : 19%;
    }

    #rechts {
        text-align: right;
        position  : relative;
        display   : inline-block;
        float     : right;
        width     : 19%;
    }


    /*HAUPTSEITE*/

    main {
        display         : inline-block;
        float           : unset;
        width           : 60%;
        background-color: #333;
        margin-bottom   : 30px;
    }


    /*
    main div{
        background-color: #ffb33a;
    }*/


    main h2 {
        text-align: center;
    }

    section {
        position        : relative;
        display         : inline-block;
        float           : left;
        width           : 28%;
        margin          : 2%;
        background-color: #666
    }

    /*Zeug um dinger immer quadratisch zu haben*/

    section::before {
        content    : "";
        display    : block;
        padding-top: 100%;
    }

    section:nth-child(3n +1) {
        clear      : left;
        margin-left: 4%;
    }

    section:last-child {
        margin-bottom: 4%;
    }

    /*Section "Befüllung"*/

    section img {
        position: absolute;
        top     : 0;
        bottom  : 0;
        left    : 0;
        right   : 0;
        width   : 90%;
        height  : 90%;
        padding : 5%;
    }

    article {
        position        : absolute;
        top             : 50%;
        bottom          : 0;
        left            : 0;
        right           : 0;
        display         : none;
        width           : 100%;
        height          : 50%;
        background-color: #00000040
    }

    section:hover article {
        display: block;
    }

    article div {
        margin: 20px;
    }

    /*FOOTER*/

    footer {
        margin          : 30px;
        padding         : 40px;
        background-color: #ffb33a;
        text-align      : center
    }

    footer a {
        color: #03f
    }

    /*SCHRIFTGÖSSEN*/

    h2 {
        font-family: LemonMilklight;
        font-size  : 200%;
    }

    main h2{
        font-size: 300%;
    }

    h3{
        font-size: 100%;
    }

    p {
        font-size: 100%;
    }

    main p{
        position: relative;
        top: -1em;
        font-size: 80%;
    }

    footer p{
        font-size: 150%;
    }


}