@font-face {
    font-family: LemonMilk;
    src        : url(Fonts/LemonMilk.otf) format('opentype')
}

@font-face {
    font-family: LemonMilklight;
    src        : url(Fonts/LemonMilklight.otf) format('opentype')
}

/* GENERELLES */

body {
    z-index         : -4;
    font-family     : LemonMilklight;
    background-color: #cdf6cf;
    color           : #cdf6cf;
}

#Audio{
    background-color: #db94b1;
    color: #db94b1;
}

/* HEADER */

header {
    position      : relative;
    top           : -2em;
    letter-spacing: 0.175em;
}

#MainSite {
    position: relative;
    top     : 0em;
}

header div {
    position        : relative;
    top             : -2em;
    left            : -5%;
    width           : 110%;
    padding-top     : 0.5em;
    background-color: #6c926e;
    text-align      : center;
}

#Main header div{
    background-color: #6c926e;
}

#EIA header div{
    background-color: #6c926e;
}

#Audio header div{
    background-color: #aa3465;
}

#EIA header h2 {
    
    position  : relative;
    top       : 0.25em;
    font-size : 4em;
    text-align: center;
}

#MainSite h2 {
    position      : relative;
    top           : 0.25em;
    font-size     : 2.2em;
    letter-spacing: 0.25em;
    text-align    : center;
}

header h2{
    
    position  : relative;
    top       : 0.25em;
    font-size : 3.8em;
    text-align: center;
}

#EIA header h1 {
    position  : relative;
    top       : -3.5em;
    font-size : 1.62em;
    text-align: center;
    color     : #6c926e;
}

#MainSite h1 {
    position  : relative;
    top       : -1.55em;
    font-size : 3em;
    text-align: center;
    color     : #6c926e;
}

header h1{
    position  : relative;
    top       : -2.36em;
    font-size : 2.4em;
    text-align: center;
    color     : #6c926e;
}

#Audio h1{
    letter-spacing: 0.5em;
    color: #aa3465;
}

header p {
    position  : relative;
    top       : -5em;
    font-size : 1em;
    text-align: center;
}

#Main header p{
    color     : #6c926e;
}

#Audio header p{
    color     : #aa3465;
}

/* Navigation */
#Burger {
    position: fixed;
    top     : 0em;
    width   : 3.8em;
    padding : 10px;
    height  : auto
}

header ul {
    position       : fixed;
    top            : 2.7em;
    left           : -0.75em;
    display        : none;
    width          : 13em;
    text-decoration: none;
    list-style     : none;
    font-size      : 2em;
}

#Main #Burger {
    position: fixed;
    top     : -1.3em;
    width   : 3.8em;
    padding : 10px;
    height  : auto
}

#Main ul {
    position       : fixed;
    top            : 1.8em;
    left           : -0.75em;
    display        : none;
    width          : 13em;
    text-decoration: none;
    list-style     : none;
    font-size      : 2em;
}

#Burger:hover+ul {
    display: block;
}

header ul:hover {
    display: block;
}

#Main ul:hover {
    display: block;
}

header li {
    position    : relative;
    display     : block;
    z-index     : 10;
    padding     : 0.4em;
    padding-left: 1em;
}


header a {
    text-decoration: none;
}

/*Dummsinn*/

header .Main {
    background-color: #a7e4aa;
}

.Main a {
    color: #83b687;
}

header .Main:hover {
    background-color: #cdf6cf;
}

header .Main:hover a {
    color: #a9cbab;
}

header .Audio {
    background-color: #d16692;
}

header .Audio a {
    color: #aa3465;
}

header .Audio:hover {
    background-color: #d681a4;
}

header .Audio:hover a {
    color: #ac5076;
}

header .Video {
    background-color: #f17272;
}

header .Video a {
    color: #b63b3b;
}

header .Video:hover {
    background-color: #f19999;
}

header .Video:hover a {
    color: #bd5858;
}

header .BWL {
    background-color: #7a91af;
}

header .BWL a {
    color: #4b678b;
}

header .BWL:hover {
    background-color: #a5b9d3;
}

header .BWL:hover a {
    color: #7489a5;
}

header .Anal {
    background-color: #7aebb6;
}

header .Anal a {
    color: #59a582;
}

header .Anal:hover {
    background-color: #c5f0dd;
}

header .Anal:hover a {
    color: #94c5ae;
}

header .Psycho {
    background-color: #9ad7f0;
}

header .Psycho a {
    color: #4695b4;
}

header .Psycho:hover {
    background-color: #c7efff;
}

header .Psycho:hover a {
    color: #8cb1c0;
}

header .EIA {
    background-color: #ffcb7e;
}

header .EIA a {
    color: #b38d54;
}

header .EIA:hover {
    background-color: #ffe0b3;
}

header .EIA:hover a {
    color: #bea57e;
}

header .Gest {
    background-color: #c48bfa;
}

header .Gest a {
    color: #8558af;
}

header .Gest:hover {
    background-color: #dbb5ff;
}

header .Gest:hover a {
    color: #a182be;
}

/*Main*/

article {
    margin          : 2%;
}

#Main article{
    background-color: #6c926e;
}

#Audio article{
    background-color: #aa3465;
}

section:nth-child(even) {
    text-align: right;
}
article:nth-child(even) {
    text-align: right;
}

h2 {
    text-align   : center;
    font-size    : 4em;
    padding-top  : 2%;
    padding-left : 2%;
    padding-right: 2%;
}

#Main main h2{
    color        : #6c926e;
}

#Audio main{
    color: #db94b1;
}

h3 {
    font-size    : 3em;
    padding-top  : 2%;
    padding-left : 2%;
    padding-right: 2%;
}

h4 {
    font-size    : 2em;
    padding-left : 2%;
    padding-right: 2%;
}

h6 {
    font-size: 1em;
}

p {
    float: clear;
    font-size: 2em;
    margin   : 2%;
}

p:last-of-type {
    padding-bottom: 2%;
}

p:first-child {
    padding-top: 2%;
}

h4+p {
    padding      : 0%;
    padding-left : 2%;
    padding-right: 2%;
    margin       : 0%;
}

table {
    padding   : 2%;
    font-size : 2em;
    text-align: left;
}

table td {
    padding-right: 30%;
}

img{
    position: relative;
    width: 42.5%;
    height: auto;
    padding: 2.5%;
    display: inline-block;
    float: left;
}
img:nth-child(odd){
    padding-left: 5%
}
img:last-of-type{
    padding-right: 50%;
}